* {
  box-sizing: border-box;
}

:root {
  --cell-size: 100px;
  --mark-size: calc(var(--cell-size) * 0.9);
}
body {
  margin: 0;
}

.board {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  justify-items: center;
}

.cell {
  display: flex;
  width: var(--cell-size);
  height: var(--cell-size);
  border: 1px solid black;
  justify-content: center;
  position: relative;
}
.cell.x::before,
.cell.x::after {
  content: "";
  width: calc(var(--mark-size) * 0.15);
  height: var(--mark-size);
  background-color: black;
  position: absolute;
}

.cell.x::before {
  transform: rotate(45deg);
}
.cell.x::after {
  transform: rotate(-45deg);
}

.cell.circle::before,
.cell.circle::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: var(--mark-size);
  height: var(--mark-size);
}

.cell.circle::before {
  width: var(--mark-size);
  height: var(--mark-size);
  background-color: black;
}

.cell.circle::after {
  width: calc(var(--mark-size) * 0.7);
  height: calc(var(--mark-size) * 0.7);
  background-color: white;
}
